@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-300%);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }

  .animate-marquee-desktop {
    animation: marquee 30s linear infinite;
  }
}
